* {
  box-sizing: border-box;
}


video::-webkit-media-controls {
    display:none !important;
}

.bggreen1 {
  background-color: #83a03d;
}

.bgteal1 {
  background-color: #a3dad7;
}

.bgpeach {
  background-color: #c1705e;
}

.bggreen2 {
  background-color: #4a5234;
}

.bgteal2 {
  background-color: #005259;
}

.bgblack {
  background-color: #000;
}

.bggradient {
  background: linear-gradient(inherit, #000);
}

.bggradientteal {
  background: linear-gradient(inherit, #005259);
}


.bgwhite {
  background-color: #FFFF;
}


.bgblack90 {
  background-color: #1A1A1A;
}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  /* background: linear-gradient(to bottom, #006a74, #83a03d); */
  background-size: 100%;
  background-repeat: no-repeat;
}

main {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  color: #6b6b6b;
  margin: 40px 0;
}

.black-text {
  font-family: 'lexia', serif;
  font-weight: lighter;
  font-size: 1rem;
  color: #1A1A1A;
  max-width: 70ch;
  /* padding: 1rem; */
}

.subhead {
  max-width: 50ch;
  padding-bottom: 1rem;
  padding-top: 2rem;
}


.white-text {
  font-family: 'lexia', serif;
  font-weight: lighter;
  font-size: 1.4rem;
  color: #FFFF;
  max-width: 70ch;
  /* padding: 1rem; */
}


.henry-text {
  font-family: 'lexia', serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: white;
  max-width: 70ch;
  margin: 0;
  text-align: center;
}

.henry-text2 {
  font-family: 'lexia', serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: white;
  max-width: 70ch;
  margin: 0;
  text-align: center;
  padding-top: 1rem;
}

#pregText {
  background-image: linear-gradient(#005259, #005259, #002e39, black);
}

#explainerIntro{
  background: linear-gradient(#fff, #a3dad7);
}

#birthIntro {
  background: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,44,47,1) 25%, rgba(0,82,89,1) 50%, rgba(0,44,47,1) 75%, rgba(0,0,0,1) 100%);
}

#birthRow {
  margin-bottom: 400px;
}

/* #birth iframe {
  z-index: 10;
} */

#birth {
  padding-bottom: 10rem;
}

#explainer h2 {
  font-family: 'lexia', serif;
  font-size: 35px;
  color: #005259;
}

#Fionapeek img {
  height: auto;
}

#hungryHippo {
  height: 20vh;
  width: 100%;
  z-index: 100;
  padding-bottom: 40vh ;
}

#grow {
  width: auto;
  height: 100%;
  background-color: gray;
}

.big-text {
  font-family: 'lexia', serif;
  font-size: 2.2rem;
  color: #ffffff;
  max-width: 50ch;
  padding: 1rem;
  text-align: center;
}

.explainer-text-black {
  font-family: 'lexia', serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: #1A1A1A;
  max-width: 65ch;
}

#rip-text{
  text-align: center;
}

#sonogramText2 {
  font-family: 'lexia', serif;
  font-size: 25px;
  color: #ffffff;
}

#dadVid {
  padding-bottom: 2rem;
}

.slider-text {
  font-size: 30px;
}

.flex {
  display: flex;
}

.h100 {
  height: 100vh;
}

.h90 {
  height: 95vh;
}

.h70 {
  height: 70vh;
}

.h50 {
  height: 50vh;
}

.h50m {
  min-height: 50vh;
}

.h100m {
  min-height: 100vh;
}

.container-fluid {
  position: relative;
  padding: 0;
}

.container {
  padding: 30px 60px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* footer style*/

footer, footer h3 {
  position: relative;
  width: 100%;
  color: white;
  font-size: 1.1rem;

  /* line-height: 0.8rem; */
}

footer img {
  max-height: 250px;
  /* padding-top: 3rem; */
  padding-left: 2rem;
  padding-bottom: 2rem;
}

#credits {
  padding-top: 3rem;
}

#credits h6 {
  text-align: left;
  padding-right: 1rem;
  padding-top: 1rem;
  max-width: 150ch;

}

#credits p {
  font-family: 'lexia', serif;
  padding-top: 0.5rem;
  text-align: left;
}

#credits a {
  font-family: 'lexia', serif;
  color: #fff;
  text-align: center;
}

#FionaFloatingHead {
  z-index: 0;
}

#socialMedia {
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(223,245,244,1) 100%);
}

#icons i {
  padding: 1rem;
}

#mobileExplainer {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(223,245,244,1) 100%);
}

.socialmedia-text {
  font-family: 'lexia', serif;
  color: #1A1A1A;
  text-align: center;
  font-size: 1.4rem;
  padding-top: 20px;
}

.thumbnail {
  position: relative;
}

/* Fiona's Impact text  */

.thumbnail p {
  position: absolute;
  top: 45%;
  left: 15%;
  width: 100%;
  font-size: 5rem;
  font-weight: '400';
  color: #4a5234;
}

/* video header, intro text */

.project-title {
  margin-bottom: 0%;
  z-index: 10000;
}

/* svg arrow */
.project-title img {
  opacity: 0.7;
}

.arrow {
  height: 10vh;
}

.birth-text {
  position: absolute;
  top: 55%;
  width: 100%;
  z-index: 10000;
  padding-left: 4rem;
  padding-bottom: 40px;
}

/* premature to prima donna  */

.project-title h1 {
  font-family: 'lexia-advertising', serif;
  font-weight: 400;
  font-size: 4rem;
  letter-spacing: 3pt;
  text-align: left;
  color: white;
}

/* The Heartwarming Story of Fiona the Hippo */

.project-title h2 {
  font-family: 'lexia', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2rem;
  text-align: left;
  color: white;
  letter-spacing: 1.6pt;
}

/* Soul of Athens Presents */

.project-title h3 {
  font-family: 'lexia', serif;
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: 4pt;
  text-align: left;
  color: white;
}

/* #intro-darker {
  opacity: 1;
  background: #010610;
} */

/*Start video background full screen with project title*/

#newBirthVid {
  position: relative;
  overflow:hidden;
  padding-bottom: 56.75%;
  padding-top: 0;
  overflow: hidden;
  z-index: -150;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.video-fix{
    padding-bottom: 56.75%;
}

/* iframe{
 position:relative;
 padding-bottom: 56.75%;
 padding-top: 0;
 justify-content: center;
 width: 100%;
}

#newBirthVid iframe {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 10000;
} */

.milking-vid {
  position: relative;
  padding-bottom: 56.75%;
  padding-top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

#milkingText {
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(223,245,244,1) 100%);
}

#swimming {
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(223,245,244,1) 100%);
}

#bifiText {
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(223,245,244,1) 100%);
}

#bifiText p {
  padding: 1rem;
}

#hospital {
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(223,245,244,1) 100%);
  /* background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(244,199,189,1) 51%, rgba(205,139,124,1) 100%); */
}

#hospital img {
  padding-top: 2rem;
}

#foodInfo {
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(223,245,244,1) 100%);
}

#impactIntro {
    background: linear-gradient(inherit, #005259);
}

.caption-padding {
  font-size: 0.9rem;
  padding-top: 0.7rem;
  padding-bottom: 1.5rem;
}

#nurse-caption {
  max-width: 90%;
}

.caption-padding2 {
  padding-top: 2rem;
}

.full-vid {
  position: relative;
  overflow: hidden;
  padding-top: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.full-vid video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.intro-vid {
  position: fixed;
  overflow: hidden;
  padding-top: 0;
  width: 100vw;
  height: 100vh;
}

.intro-vid video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: auto;
}



/* #newintro {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
} */

/* Becky said use fixed for position here  */

#sonogramVid {
  width: 100vw;
  height: 100vh;
}

#sonogramVid img {
  position: absolute
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.pullquote {
/* background: radial-gradient(circle, rgba(0,82,89,1) 0%, rgba(255,255,255,1) 100%); */
  background-color: #005259;
  padding: 2rem;
}

#pullquotecol {
  background-color: #005259;
  padding: 2rem;
}

.pullquote p {
  color: #fff;
}

.pullquote img {
  left: 200;
  max-width: 50%;
}



.quote-text{
  font-size: 1.2rem;
  color: #fff;
  font-family: 'lexia', serif;
  font-weight: thin;
}

.quote-person {
  font-family: 'lexia', serif;
  font-weight: lighter;
  font-style: italic;
  font-size: 1rem;
  color: #fff;
  z-index: 10000;
  max-width: 70ch;
  margin: 0;
}

#happyFamilyQuote{
  font-size: 1.2rem;
  color: #fff;
  font-family: 'lexia', serif;
  font-weight: thin;
}



.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#fiona-impact{
  font-size: 60px;
  color: #006a74;
}

#impact-quote{
  padding-top: 20px;
  padding-bottom: 20px;
}

#impact-row{
  padding-top: 20px;
  padding-bottom: 20px;
}

#impact-first{
  padding-top: 20px;
}
/* #animation {
    position: relative;
    padding-bottom: 56.75%;
    padding-top: 0;
    overflow: hidden;
} */

/* #animation iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

} */

/* scrollspy */

.list-group a {
  color: red;
}

.list-group-item {
  border: none;
}

.list-group-item-action:focus, .list-group-item-action:hover {
  color: red;
}

#gaining-vid {
  /* padding-bottom: 56.75%; */
  padding-top: 0;
  z-index: 100;
}

#gaining-vid video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100000;
}

#firststeps-vid {
  position: relative;
  padding-bottom: 56.75%;
  padding-top: 0;
  overflow: hidden;
  z-index: -10000;
}

#firststeps-vid video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100000;
}

h3 {
  font-family: 'lexia', serif;
  font-size: 1.75rem;
  color: #c1705e;
}

h4 {
  font-family: 'lexia', serif;
  color: #006a74;
}

h6 {
  font-family: 'lexia', serif;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

/* Style the header: fixed position (always stay at the top) */

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #c1705e;
}

/* The progress container (grey background) */

.progress-container {
  width: 100%;
  height: 8px;
  background: #4d5d5d;
}

/* The progress bar (scroll indicator) */

.progress-bar {
  height: 8px;
  background: #c1705e;
  width: 0%;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}


.btn-link {
  color: #FFFF;
  font-family: lexia, serif;
  font-size: 25px;
}

.btn-link:hover {
  color: #FFF;
}

.btn-primary {
    color: #fff;
    background-color: #0495c9;
    border-color: #357ebd; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e; /*set the color you want here*/
}

/*explainer hot spots */

.explainer-image {
  margin: 10px;
  border: none;
  position: relative;
  display: inline-block;
}

.explainer-image img {
  max-width: 100%;
  display: block;
}

#ch1 {
  background: url(../img/newborn_small.jpg);
  background-color: #253440;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  background-attachment: fixed; /* parallax effect */
}

#ch2 {
  background: url(../img/bottle2.jpg);
  background-color: #253440;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

#ch3 {
  background: url(../img/2nd-birth.jpg);
  background-color: #253440;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

#ch4 {
  background: url(../img/bloatof3.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

.map {
  margin:10px;
  border:none;
  position: relative;
  display: inline-block;

}

.map img {
  max-width:100%;
  display: block;
}

.box {
  width: 5%;
  height: 5%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

#pin-1 {
  top: 25%;
  left: 22.5%;
  /* background-color: red; */
}

#pin-2 {
  top: 55%;
  left: 56%;
  /* background-color: purple; */
}

#pin-3 {
  top: 41%;
  left: 23%;
  /* background-color: blue; */
}

#pin-4 {
  top: 27%;
  left: 68%;
  /* background-color: green; */
}

#pin-5 {
  top: 77%;
  left: 28%;
  /* background-color: black; */
}

.box:hover>.pin-text {
  display: block;
}

.pin-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -100%;
  display: none;
}

.pin-text2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 75%;
  display: none;
}

.pin-text h3 {
  color: white;
  opacity: 60%;
  font-size: 20px;
  padding: 0.5rem;
  width: 280px;
}

.pin-text2 p {
  color: white;
  opacity: 60%;
  padding: 0.5rem;
  width: 280px;
}

.pin-text2 h3 {
  color: white;
  opacity: 60%;
  font-size: 20px;
  padding: 0.5rem;
  width: 280px;
}

.pin-text p {
  color: white;
  opacity: 60%;
  padding: 0.5rem;
  width: 280px;
}

.pin-text {
  color: white;
  background-color: #006a74;
  opacity: 60%;
  padding: 0.5rem;
  width: 300px;
  text-overflow: inherit;
}

/* fade in backgrounds */

#row2 {
  background-color: #005259;
  height: 120vh;
  width: 100vw;
}

#row3 {
  background-color: #000;
  height: 120vh;
  width: 100vw;
}

#row4 {
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(163,218,215,1) 100%);
  height: 120vh;
  width: 100vw;
}

/* color overlay on bottle full photo */
#row5 {
  background-color: #000;
  height: 120vh;
  width: 100vw;
}

/* color overlay on happy family photo */
#row6 {
  background: rgb(0,82,89);
  background: linear-gradient(rgba(0,82,89,1) 0%, rgba(0,0,0,1) 34%);
  height: 100vh;
  width: 100vw;
}

#row7 {
  background: rgba(0, 0, 0, 0.8);
  /* background-color: #000; */
  height: 100vh;
  width: 100vw;
}

#row8 {
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(223,245,244,1) 100%);
  height: 100vh;
  width: 100vw;
}

#row9 {
  background: rgba(0,82,89, 0.8);
  height: 100vh;
  width: 100vw;
}

#row10 {
  background: rgba(0,82,89, 0.8);
  height: 100vh;
  width: 100vw;
}


#nurses-img{
  max-height: 500px;
}

#impact-vid{
  padding-top: 30px;
}

#ripHenry{
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* background: linear-gradient(rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%); */
}

#wholeImpact {
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(223,245,244,1) 100%);
}

.impact-videos{
  max-width: 500px;
}

#impactrow1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* #impactrow1 img {
  padding-left: 1rem;
} */

.padleft img {
  padding-left: 1rem;
}

#impactrow2 {
  padding-bottom: 1rem;
}

#desktopMichelle p {
  padding-top: 0.5rem;
}

/*Phone sized media query*/

@media only screen and (max-width: 600px) {
  .explainer-image {
    display: none;
  }
  #explainer-mobile {
    padding-bottom: 30px;
  }
  .impactpic {
    display: none;
  }

  .card {
    background-color: #005259;
  }

  .explainer-text-mobile{
    font-family: lexia, serif;
    font-size: 20px;
    color: #FFFF;
  }

}

/*anything larger than a phone*/

@media only screen and (min-width: 600px) {
  #explainer-mobile {
    display: none;
  }
  #impact-mobile {
    display: none;
  }

  #mobileMichelle{
    display:none;
  }

  #explainer {
    padding-top:60px;
  }

  .black-text {
    padding: 0;
  }

  .white-text {
    padding: 0;
  }
}


/*anything smaller than a tablet */

@media only screen and (max-width: 991.98px) {
  /* premature to prima donna  */

  .project-title h1 {
    font-family: 'lexia-advertising', serif;
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: 3pt;
    text-align: left;
    color: white;
  }

  /* The Heartwarming Story of Fiona the Hippo */

  .project-title h2 {
    font-family: 'lexia', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.4rem;
    text-align: left;
    color: white;
    letter-spacing: 1.6pt;
  }

  /* Soul of Athens Presents */

  .project-title h3 {
    font-family: 'lexia', serif;
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: 4pt;
    text-align: left;
    color: white;
  }

  .person {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  .pad1 {
    margin: 1rem;
  }

  .pad2 {
    margin: 2rem;
  }

  #desktopMichelle{
    display:none;
  }

}
