* {box-sizing: border-box;}

/* style guide colors  */
/* brownish tan : #877b70
light tan : #d8coa8
medium green #83a03d
light teal #a3dad7
muted navy #4d5d5d
sorta peach #c1705e
dark green #4a5234
medium teal #006a74 */

body {
  padding-top: 0rem;
  overflow-x: hidden;
}

p{
  font-family: 'lexia', serif;
  font-weight: 200;
  font-size: 16px;
  color: #4a5234;
  max-width: 70%;
  z-index: 10000;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.row {
  padding-bottom: 50px;
}

/* photo slider*/

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 10px;
  height: 50px;
  background-color: #DCDCDC;
  opacity: 0.7;
  border-radius: 0;
  box-shadow: 3px 3px 20px #DCDCDC;
}

/* footer style*/
footer, footer h3 {
    position: relative;
    border-top-color: #DCDCDC;
    background-color: #4d5d5d;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 1.1rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1.2rem;
    /* line-height: 0.8rem; */
    /* ^^ works for names but not copyright info */
}


.center-footer {
    color: white;
    padding-top: 20px;
}

.center-footer h3 {
    position: relative;
    font-family: 'lexia', serif;
    font-weight: 600;
    font-size: 13px;
    padding-top: 2px;
    color: white;
}






footer img {
    width: 200px;
    padding-top: 30px;
    padding-left: 20px;

}

#birthvid-text {
position: absolute;
top: 10%;
left: 10%;
z-index: 700;
}



#dadvid-text {
position: absolute;
top: 10%;
left: 10%;
z-index: 700;
}





.focustext {
  background-image : linear-gradient(rgba(77,93,93,0), rgba(77,93,93, 1) 80%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100000;
  padding-bottom: 10%;
}

.focustext p {
  text-align: center;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'lexia', serif;
  font-weight: 200;
  font-size: 1.2rem;
  max-width: 70%;
}

.focustext h3 {
  padding-left: 10%;
}

/* video header, intro text */
.project-title {
  position: absolute;
  top: 55%;
  width: 100%;
  text-indent: 6rem;
  z-index: 500;
  padding-bottom: 50px;
}

/* .headline {
    position: absolute;
    top: 55%;
    width: 100%;
    z-index: 1000;
    text-indent: 6rem;
} */

.project-title img {
  position: absolute;
  top: 97%;
  left: 45%;
  z-index: 500;
  opacity: 0.7;
}

.birth-text {
      position: absolute;
      top: 55%;
      width: 100%;
      z-index: 10000;
      text-indent: 6rem;
      padding-bottom: 40px;
}


/* premature to prima donna  */
.headline h1 {
    font-family: 'lexia-advertising', serif;
    font-weight: 400;
    font-size: 4rem;
    letter-spacing: 3pt;
    text-align: left;
    text-indent: 6rem;
    color: white;
}
/* The Heartwarming Story of Fiona the Hippo */
.headline h2 {
    font-family: 'lexia', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 34px;
    text-align: left;
    color: white;
    letter-spacing: 1.6pt;
}
/* Soul of Athens Presents */
.headline h3 {
    font-family: 'lexia', serif;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 4pt;
    text-indent: 6rem;
    text-align: left;
    color: white;
}



h6 {
  font-family: 'lexia', serif;
  font-weight: 500;
  font-size: 20px;
}

#introText {
  color: #4d5d5d;
  text-align: left;
  font-size: 20px;
  font-family: 'lexia', sans-serif;
  font-style: 'thin';
  z-index: 700;
}

/*Start video background full screen with project title*/

.full-vid {
    position: relative;
    padding-bottom: 56.75%;
    padding-top: 0;
    overflow: hidden;
}

.full-vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100000;

}

.full-vid video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100000;
}

.full-vid img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100000;
}

.pullquote {
  background-color: #DCDCDC;
  padding: 100px;
}

.pullquote h6 {
  font-size: 30px;
}

/* #animation {
    position: relative;
    padding-bottom: 56.75%;
    padding-top: 0;
    overflow: hidden;
} */

/* #animation iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

} */

/* scrollspy */

.list-group a {
  color: red;
}

.list-group-item {
  border: none;
}

.list-group-item-action:focus, .list-group-item-action:hover {
  color: red;
}


#gaining-vid {
    /* padding-bottom: 56.75%; */
    padding-top: 0;
    z-index: 100;
}

#gaining-vid video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100000;

}

#firststeps-vid {
  position: relative;
  padding-bottom: 56.75%;
  padding-top: 0;
  overflow: hidden;
  z-index: -10000;
}

#firststeps-vid video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100000;
}

.fionafact {
  background-color: #a3dad7;
  font-family: 'lexia', serif;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  margin: 0.5rem;
  /* box-shadow: 5px 10px 15px #DCDCDC; */

}

h3 {
  font-size: 1.75rem;
  color: #4d5d5d;
}

/* Style the header: fixed position (always stay at the top) */
.header {
 position: fixed;
 top: 0;
 z-index: 1;
 width: 100%;
 background-color: #c1705e;
}

/* The progress container (grey background) */
.progress-container {
 width: 100%;
 height: 8px;
 background: #4d5d5d;
}

/* The progress bar (scroll indicator) */
.progress-bar {
 height: 8px;
 background: #a3dad7;
 width: 0%;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}


/* DEVELOPMENT SLIDER */
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 20px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #83a03d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4a5234; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
