* {
  box-sizing: border-box;
}

/* style guide colors  */

/* brownish tan : #877b70
light tan : #d8coa8
medium green #83a03d
light teal #a3dad7
muted navy #4d5d5d
sorta peach #c1705e
dark green #4a5234
medium teal #006a74 */

.bgneutral {
  background-color: #877b70;
}

.bggreen1 {
  background-color: #83a03d;
}

.bgteal1 {
  background-color: #a3dad7;
}

.bgnavy {
  background-color: #4d5d5d;
}

.bgpeach {
  background-color: #c1705e;
}

.bggreen2 {
  background-color: #4a5234;
}

.bgteal2 {
  background-color: #005259;
}

.bgblack {
  background-color: #000;
}

.bggradient {
  background: linear-gradient(inherit, #000);
}

.bgwhite {
  background-color: #FFFF;
}

.bgblack90 {
  background-color: #1A1A1A;
}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  /* background: linear-gradient(to bottom, #006a74, #83a03d); */
  background-size: 100%;
  background-repeat: no-repeat;
}


.black-text {
  font-family: 'lexia', serif;
  font-weight: lighter;
  font-size: 18px;
  color: #1A1A1A;
  max-width: 70ch;
}

.white-text {
  font-family: 'lexia', serif;
  font-weight: lighter;
  font-size: 18px;
  color: #FFFF;
  max-width: 70ch;
}

.henry-text {
  font-family: 'lexia', serif;
  font-weight: 400;
  font-size: 18px;
  color: #1A1A1A;
  max-width: 70ch;
  margin: 0;
}

#pregText p {
  max-width: 50ch;
}

#pregText {
  background-image: linear-gradient(#005259, #005259, #002e39, black);
}

#explainerIntro{
  background-image: linear-gradient(#FFFF, #005259, #FFFF);
}

#birthIntro {
  background: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,46,57,1) 39%, rgba(0,82,89,1) 54%, rgba(255,255,255,1) 100%);
}

#chart {
  padding-top: 10vh;
}
}

#ripHenry {
  /* background: linear-gradient(rgba(255,255,255,1) 0%, rgba(121,121,121,1) 50%, rgba(0,0,0,1) 100%); */
}

#explainer h2 {
  font-family: 'lexia', serif;
  font-size: 35px;
  color: #005259;
}

#FionaFloatingHead img {
  padding-left: 10vh;
  position: relative;
  top: 50px;
  left: 20vh;
  opacity: 0.80;
}

#hungryHippo {
  height: 20vh;
  width: 100%;
}

#pawPrints {
  padding-right: 13vh;
}

#pawPrints img {
  opacity: 0.80;
}


.quote-person {
  font-family: 'lexia', serif;
  font-weight: lighter;
  font-style: italic;
  font-size: 18px;
  color: #FFFF;
  z-index: 10000;
  max-width: 70ch;
  margin: 0;
}

#grow {
  width: auto;
  height: 100%;
  background-color: gray;
}

.big-text {
  font-family: 'lexia', serif;
  font-size: 35px;
  color: #ffffff;
}

.big-text-blue {
  font-family: 'lexia', serif;
  font-size: 35px;
  color: #005259;
}

#sonogramText2 {
  font-family: 'lexia', serif;
  font-size: 25px;
  color: #ffffff;
}

.slider-text {
  font-size: 30px;
}

.alignCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

.flex {
  display: flex;
}

.h100 {
  height: 100vh;
}

.h70 {
  height: 70vh;
}

.h50 {
  height: 50vh;
}

.container-fluid {
  position: relative;
}

.container {
  padding: 30px 60px;
}

.bgred {
  background-color: darkred;
}

.bgblue {
  background-color: darkblue;
}

main {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  color: #6b6b6b;
  margin: 40px 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* .row {
  padding-bottom: 50px;
} */

/* footer style*/

footer, footer h3 {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 1.1rem;

  /* line-height: 0.8rem; */
}

.center-footer {
  color: white;
  padding-top: 20px;
}

.center-footer h3 {
  position: relative;
  font-family: 'lexia', serif;
  font-weight: 600;
  font-size: 13px;
  padding-top: 2px;
  color: white;
}

footer img {
  width: 200px;
  padding-top: 30px;
  padding-left: 20px;
}

#birthvid-text {
  font-family: 'lexia', serif;
  font-weight: 400;
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 1000;
}

#birthvid-text p {
  font-size: 1.4rem;
}

#FionaFloatingHead {
  z-index: 100;
}

#socialMedia {
  padding-top: 10vh;
}

.thumbnail {
  position: relative;
}

.thumbnail img {
  opacity: 0.30;
  z-index: 1000;
}

/* Fiona's Impact text  */

.thumbnail p {
  position: absolute;
  top: 45%;
  left: 15%;
  width: 100%;
  font-size: 5rem;
  font-weight: '400';
  color: #4a5234;
}

/* video header, intro text */

.project-title {
  margin-bottom: 0%;
  z-index: 10000;
}

.project-title img {
  opacity: 0.7;
}

.arrow {
  height: 10vh;
}

.birth-text {
  position: absolute;
  top: 55%;
  width: 100%;
  z-index: 10000;
  padding-left: 4rem;
  padding-bottom: 40px;
}

/* premature to prima donna  */

.project-title h1 {
  font-family: 'lexia-advertising', serif;
  font-weight: 400;
  font-size: 4rem;
  letter-spacing: 3pt;
  text-align: left;
  color: white;
}

/* The Heartwarming Story of Fiona the Hippo */

.project-title h2 {
  font-family: 'lexia', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 34px;
  text-align: left;
  color: white;
  letter-spacing: 1.6pt;
}

/* Soul of Athens Presents */

.project-title h3 {
  font-family: 'lexia', serif;
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 4pt;
  text-align: left;
  color: white;
}


#introText {
  font-size: 20px;
  font-family: 'lexia', serif;
  font-style: 'thin';
  z-index: 100;
}

/* #intro-darker {
  opacity: 1;
  background: #010610;
} */

/*Start video background full screen with project title*/

#newBirthVid {
  position: relative;
  overflow:hidden;
  padding-bottom: 56.75%;
  padding-top: 0;
  overflow: hidden;
  z-index: -150;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.video-fix{
    padding-bottom: 56.75%;
}

/* iframe{
 position:relative;
 padding-bottom: 56.75%;
 padding-top: 0;
 justify-content: center;
 width: 100%;
}

#newBirthVid iframe {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 10000;
} */

.milking-vid {
  position: relative;
  padding-bottom: 56.75%;
  padding-top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.full-vid {
  position: relative;
  overflow:hidden;
  padding-bottom: 56.75%;
  padding-top: 0;
  overflow: hidden;
  z-index: -150;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.full-vid iframe {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.full-vid video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10000;
}

.full-vid img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10000;
}

.new-vid {
  position: relative;
  padding-bottom: 56.75%;
  padding-top: 0;
  top: 0;
  overflow: hidden;
  z-index: 300;
}

/* .new-vid iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.new-vid video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100000;
}

.new-vid img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100000;
}

#newintro {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
}

/* Becky said use fixed for position here  */

.intro-vid {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.intro-vid video {
  position: absolute
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.pullquote {
  background-color: #005259;
  padding: 3rem 1rem 1rem 3rem;
}

.pullquote p {
  color: #fff;
}


.quote-text{
  font-size: 25px;
  color: #fff;
  font-family: 'lexia', serif;
  font-weight: thin;
}

#happyFamilyQuote{
  font-size: 16px;
  color: #fff;
  font-family: 'lexia', serif;
  font-weight: thin;
}

.impactpic img {
  padding: 2%;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#fiona-impact{
  font-size: 60px;
  color: #006a74;
}

#impact-quote{
  padding-top: 20px;
  padding-bottom: 20px;
}

/* #animation {
    position: relative;
    padding-bottom: 56.75%;
    padding-top: 0;
    overflow: hidden;
} */

/* #animation iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

} */

/* scrollspy */

.list-group a {
  color: red;
}

.list-group-item {
  border: none;
}

.list-group-item-action:focus, .list-group-item-action:hover {
  color: red;
}

#gaining-vid {
  /* padding-bottom: 56.75%; */
  padding-top: 0;
  z-index: 100;
}

#gaining-vid video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100000;
}

#firststeps-vid {
  position: relative;
  padding-bottom: 56.75%;
  padding-top: 0;
  overflow: hidden;
  z-index: -10000;
}

#firststeps-vid video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100000;
}

h3 {
  font-family: 'lexia', serif;
  font-size: 1.75rem;
  color: #c1705e;
}

h4 {
  font-family: 'lexia', serif;
  color: #006a74;
}

/* Style the header: fixed position (always stay at the top) */

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #c1705e;
}

/* The progress container (grey background) */

.progress-container {
  width: 100%;
  height: 8px;
  background: #4d5d5d;
}

/* The progress bar (scroll indicator) */

.progress-bar {
  height: 8px;
  background: #c1705e;
  width: 0%;
  z-index: 10000;
}

.slidecontainer {
  width: 100%;
  /* Width of the outside container */
}

.card {
  background-color: #4d5d5d;
}

.btn-link {
  color: #FFFF;
}

hover .btn-link {
  color: #FFFF;
}

/*explainer hot spots */

.explainer-image {
  margin: 10px;
  border: none;
  position: relative;
  display: inline-block;
}

.explainer-image img {
  max-width: 100%;
  display: block;
}

.box {
  width: 5%;
  height: 5%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

#pin-1 {
  top: 25%;
  left: 22.5%;
  /*background-color: red;*/
}

#pin-2 {
  top: 55%;
  left: 56%;
  /*background-color: purple;*/
}

#pin-3 {
  top: 41%;
  left: 23%;
  /*background-color: blue;*/
}

#pin-4 {
  top: 27%;
  left: 68%;
  /*background-color: green;*/
}

#pin-5 {
  top: 77%;
  left: 28%;
  /*background-color: black;*/
}

.box:hover>.pin-text {
  display: block;
}

.pin-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -100%;
  display: none;
}

.pin-text2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 75%;
  display: none;
}

.pin-text h3 {
  color: white;
  opacity: 60%;
  font-size: 20px;
  padding: 0.5rem;
  width: 280px;
}

.pin-text2 p {
  color: white;
  opacity: 60%;
  padding: 0.5rem;
  width: 280px;
}

.pin-text2 h3 {
  color: white;
  opacity: 60%;
  font-size: 20px;
  padding: 0.5rem;
  width: 280px;
}

.pin-text p {
  color: white;
  opacity: 60%;
  padding: 0.5rem;
  width: 280px;
}

.pin-text {
  color: white;
  background-color: #006a74;
  opacity: 60%;
  padding: 0.5rem;
  width: 300px;
  text-overflow: inherit;
}

/* fade in background */

/* ---------- ROW 2 ----*/

#row2 {
  background-color: #005259;
  height: 100vh;
  width: 100vw;
}

#row3 {
  background-color: #000;
  height: 120vh;
  width: 100vw;
}

#nurses-img{
  max-height: 500px;

}

.impact-vid{
  max-width:350px;
}

#ripHenry{
  padding-top: 50px;
  padding-bottom: 50px;
}

.impactpic{
  padding-bottom: 15px;
}

/*Phone sized media query*/

@media only screen and (max-width: 600px) {
  .explainer-image {
    display: none;
  }
  #explainer-mobile {
    padding-bottom: 30px;
  }
  .impactpic {
    display: none;
  }


}

/*anything larger than a phone*/

@media only screen and (min-width: 600px) {
  #explainer-mobile {
    display: none;
  }
  #impact-mobile {
    display: none;
  }

  #explainer {
    padding-top:60px;
  }
}
