#back-text{
color: #006a74;
}


.bggreen1 {
  background-color: #83a03d;
}

h1{
  font-family: lexia, serif;
}

h2{
  font-family: lexia, serif;
  font-size: 25px;
}

h3{
  font-family: lexia, serif;
  font-style: italic;
  font-size: 20px;
}
