* {box-sizing: border-box;}

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* photo slider*/

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 10px;
  height: 50px;
  background-color: #DCDCDC;
  opacity: 0.7;
  border-radius: 0;
}

/* footer style*/

footer {
    position: relative;
    border-top-color: black;
    background-color: #2d3436;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.center-footer {
    color: white;
    padding-top: 30px;

}

.center-footer h3 {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 13px;
    padding-top: 2px;
    color: white;

}

.center-footer p {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding-left: 5px;

}


.right-footer p {
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    padding-top: 30px;
    padding-right: 20px;
}

.left-footer img {
    width: 200px;
    padding-top: 30px;
    padding-left: 20px;

}
