* {box-sizing: border-box;}

body {
  padding-top: 0rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* photo slider*/

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 10px;
  height: 50px;
  background-color: #DCDCDC;
  opacity: 0.7;
  border-radius: 0;
}

/* footer style*/

footer {
    position: relative;
    border-top-color: black;
    background-color: #2d3436;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.center-footer {
    color: white;
    padding-top: 30px;

}

.center-footer h3 {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 13px;
    padding-top: 2px;
    color: white;

}

.center-footer p {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-left: 5px;

}


.right-footer p {
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    padding-top: 30px;
    padding-right: 20px;
}

.left-footer img {
    width: 200px;
    padding-top: 30px;
    padding-left: 20px;

}

/* video header, intro text */

.headline {
    position: absolute;
    top: 65%;
    width: 100%;
    z-index: 1000;
    text-indent: 6rem;
}

/* premature to prima donna  */
.headline h1 {
    font-family: 'Raleway', serif;
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 3pt;
    text-align: left;
    text-indent: 6rem;
    color: white;
}
/* The Heartwarming Story of Fiona the Hippo */
.headline h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    color: white;
    letter-spacing: 1.6pt;
}
/* Soul of Athens Presents */
.headline h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 4pt;
    text-indent: 6rem;
    text-align: left;
    color: white;
}

.headline p {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    color: white;
    padding-top: 50px;

}

#introText {
  color: red;
  text-align: left;

}


/*Start video background full screen with project title*/


#title-vid {
    position: relative;
    padding-bottom: 56.75%;
    padding-top: 0;
    overflow: hidden;
    z-index: -10000;
}

#animation {
    position: relative;
    padding-bottom: 56.75%;
    padding-top: 0;
    overflow: hidden;
}


#title-vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100000;

}

#title-vid video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100000;

}

#animation iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

#title-vid video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100000;

}

/* scrollspy */

.list-group a {
  color: red;
}

.list-group-item {
  border: none;
}

.list-group-item-action:focus, .list-group-item-action:hover {
  color: red;
}


#birth-vid {
    position: relative;
    padding-bottom: 56.75%;
    padding-top: 0;
    overflow: hidden;
    z-index: -10000;
}

#birth-vid video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100000;

}


#firststeps-vid {
  position: relative;
  padding-bottom: 56.75%;
  padding-top: 0;
  overflow: hidden;
  z-index: -10000;
}

#firststeps-vid video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100000;

}
